body{
	font-family: 'Oswald', sans-serif;
}

.top-row{
	background-color: #b9e6fa;
	padding-top: 30px;
}

.top-row div{
	text-align: center;
}

.top-row h1{
	color: #1363a2;
}

.top-row p{
	text-align: left;
}

.top-row img{
	width: 40%;
	height: auto;
}

.middle-row{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.middle-row h1{
	color: #3aacf2;
	padding-bottom: 50px;
}

.cat-row{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.cat-row h3{
	padding-top: 50px;
}

.cat-img{
	background: #bde6fc;
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	padding-top: 30%;
}

.cat-img img{
	width: 50%;
	height: auto;
}

.bottom-row{
	background-color: #b9e6fa;
	text-align: center;
	color: #33afe5;
}

.bottom-row i{
	transform: scale(3, 3);
	padding-top: 15%;
}

.col-data{
	padding: 20px;
}